footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: $DarkBlue-footer;
    padding: 2rem;
    position: relative;

    .logo{
        margin-top: 20rem;
        margin-bottom: 3rem;
    }

    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.5rem;

        img{
            width: 25px;
            height: 25px;
        }

        .location{
            display: flex;
            align-items: start;
            gap: 20px;

            // #location{
            //     margin-top: 4rem;
            // }
            
        }

        .contact{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            margin-top: 2rem;

            .phone,.email{
                display: flex;
                align-items: center;
                justify-content: center;
                
                img{
                    margin-right: 1rem;
                }
            }
        }

        .menu{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 4rem;
            
            .menu-col{
                display: flex;
                flex-direction: column;
                padding-top: 4rem;

                a{
                    text-decoration: none;
                    padding-bottom: 1rem;
                    
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

        }

     
        .social{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4rem auto;
            gap: 30px;

            i{
                border-radius: 100%;
                border: 2px solid $White;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover{
                    color: $Cyan;
                    border: 2px solid $Cyan;
                }
            }

        }
    }
 
}






@media only screen and (min-width: 1025px) {
    footer {
        
    


        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .footer-content{
            grid-template-columns: 32% 20%;
            align-items: start;
            justify-content: space-evenly;
            font-size: 1.2rem;
            gap: 30px;
            max-width: 1440px;
            margin: auto;
    
                
            .location{
                gap: 10px;
                margin-left: -30px;
            }
                
            .menu{
                grid-template-columns: 1fr 1fr;
                margin-top: 0;
                
                .menu-col{
                    display: flex;
                    flex-direction: column;
                    padding-top: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1201px) {
    footer {
        justify-content: center;

        .footer-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            max-width: 1440px;
        }
        
    
        .logo{
            display: flex;
            justify-content: start;
            margin-left: 2rem;
            margin-top: 20rem;
            margin-bottom: 3rem;
        }
    
        .footer-content{
            grid-template-columns: 32% 20% 20% 20%;
            align-items: start;
            font-size: 1.2rem;
            gap: 30px;
            max-width: 1440px;
            margin: auto;
    
            img{
                width: 20px;
                height: 20px;
            }
    
            .location{
                gap: 10px;
                margin-left: 1rem;
            }
    
            .contact{
                gap: 10px;
                margin-top: 0;

            }
    
            .menu{
                grid-template-columns: 1fr 1fr;
                margin-top: 0;
                
                .menu-col{
                    display: flex;
                    flex-direction: column;
                    padding-top: 0;
                }
    
            }
    
         
            .social{
                justify-content: end;
                margin: 0;
            }
        }
     
    }
}