@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);

  /* ### Accent */

  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);

  /* ### Neutral */

  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  max-width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  padding: 0 8rem;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  list-style: none;
  padding: 0 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--VeryDarkBlue);
}

.content-section {
  display: flex;
  flex-direction: column;
}

#illustration {
  width: 600px;
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.section-part1 {
  display: flex;
  padding: 0 8rem;
  margin-bottom: 4rem;
}

.col50 {
  padding: 4rem;
  width: 50%;
}

.row-2 {
  display: flex;
  background-color: var(--LightGrayishBlue);
  padding: 0 8rem;
}

.section-part2 {
  display: flex;
  flex-direction: column;
  background-image: url(../fylo-landing-page-with-two-column-layout/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
}

.part2 {
  display: flex;
  flex-direction: column;
}

.div-how-works {
  display: flex;
  align-items: center;
}

#how-works {
  text-decoration: none;
  color: var(--ModerateCyan);
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--ModerateCyan);
}

.testimonial {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 18px 1px rgba(0, 0, 0, 0.48);
  width: 450px;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar-prof h4 {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 0.5rem;
}

.avatar img {
  border-radius: 50%;
  width: 80px;
  margin-right: 1rem;
}

#icon-quotes {
  width: 20px;
}

.col50 h2 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
  line-height: 1.4em;
}

.col50 p {
  margin-bottom: 1rem;
  color: var(--VeryDarkBlue);
  font-weight: 400;
  font-size: 18px;
}

form {
  display: flex;
  margin-top: 2rem;
}

input {
  padding: 0.8rem 2rem;
  width: 100%;
  outline: none;
}

input::placeholder {
  opacity: 0.8;
}

button {
  padding: 1rem 2rem;
  background-color: var(--BrightBlue);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 9px 10px 18px 1px rgba(0, 0, 0, 0.15);
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#btn {
  width: 80%;
  margin-left: 1rem;
}

.get-early {
  background-color: var(--DesaturatedBlue);
  display: flex;
  padding: 0 8rem;
}

.get-early-text,
.get-early-form {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 4rem;
}

.get-early h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.get-early p {
  color: var(--LightGray);
  margin-right: 12rem;
  line-height: 1.5;
}

.get-early-form form {
  display: flex;
  flex-direction: column;
}

#btn2 {
  width: 30%;
  margin-top: 1rem;
}

#input2 {
  width: 70%;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  box-shadow: 9px 10px 18px 1px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: var(--VeryDarkBlue);
}

.logo-row {
  padding: 1rem 12rem;
  margin-top: 2rem;
  fill: white;
}

.logo-row svg {
  fill: white;
}

.footer-menu {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-around;
}

.footer-menu a {
  text-decoration: none;
  color: var(--LightGray);
  padding: 0.5rem 0;
}

.column:not(:last-child) {
  display: flex;
  flex-direction: column;
}

.column-items {
  display: flex;
  gap: 20px;
  padding: 1rem;
}

.attribution {
  margin-top: 2rem;
  color: white;
}

.column img {
  width: 20px;
  height: 20px;
}

#social {
  display: flex;
}

#social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px; /* Adjust the spacing between icons */
  cursor: pointer;
}

#social i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: white;
}

@media (max-width: 1200px) {
  .section-part1 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 4rem;
    width: 100%;
  }

  .row-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  #col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .col50 {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }

  .get-early {
    flex-direction: column;
  }

  .get-early-text,
  .get-early-form {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
  }

  .get-early p {
    margin-right: 0;
  }

  .get-early-form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #btn2 {
    width: 70%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-around;
    margin-bottom: 6rem;
    padding: 0 2rem;
  }

  .section-part1 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 4rem;
    width: 100%;
  }

  .col50 {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }

  .row-2 {
    padding: 2rem;
  }

  #col-2 {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .get-early {
    padding: 2rem;
  }

  form {
    flex-direction: column;
  }

  #btn {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }

  .logo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 2rem;
    fill: white;
  }

  .footer-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .footer-menu a {
    text-decoration: none;
    color: var(--LightGray);
    padding: 0.8rem 0;
  }

  .column:not(:last-child) {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .column-items {
    display: flex;
    gap: 20px;
    padding: 1rem;
  }

  .column img {
    width: 20px;
    height: 20px;
  }

  #social {
    flex-direction: row;
  }
}

@media (max-width: 680px) {
  .get-early {
    padding: 2rem;
  }

  #input2 {
    width: 100%;
  }

  #btn2 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
