@import 'base' ;
@import 'layout';
@import 'components';


body{
    font-family: $font-Ubuntu;
    overflow-x: hidden ;
}

h2{
    color: $Verydarkblue;
}

.attribution {
    font-size: 12px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
      }
  }

  .test {
    border: 1px solid black;
  }

  .hidden{
    display: none;
  }

