// ## Colors

// ### Primary

$DarkBlue-intro-email: hsl(217, 28%, 15%); // (intro and email sign up background)
$DarkBlue-main: hsl(218, 28%, 13%);  //(main background)
$DarkBlue-footer: hsl(216, 53%, 9%); //(footer background)
$DarkBlue-testimonial: hsl(219, 30%, 18%); //(testimonials background)

// ### Accent

$Cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$Blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$LightRed: hsl(0, 100%, 63%); //(error)

// ### Neutral

$White: hsl(0, 0%, 100%);