header{
    background-image: url('../images/image-hero-mobile.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    // filter: brightness(90%);
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: relative;
}

@media screen and (min-width: 768px) {
    header{
        background-image: url('../images/image-hero-desktop.jpg');
        
    }
}